In [1]:
from datetime import date
import pandas as pd

In [102]:
def make_table(exercise, num_sets, num_reps, weight, data=None, fail=False, date=date.today().strftime('%m-%d-%y')):
    '''
    Function to input workout data and output results in pandas DataFrame.
    ------------------
    exercise : string : name of exercise
    num_sets : integer: number of sets
    num_reps : integer: number of reps in each set
    weight   : integer: weight of lift
    
    data (optional) : pandas DataFrame : use current DataFrame to add on to
    fail (optional) : boolean : use =True if fail on any set
    data (optional) : string: uses curernt date in format ` '08-14-19' `
    ------------------
    If fail=True, you will be asked to input more data, starting with the set you failed on.
    '''
    set_list = list(range(1,num_sets+1))
    df = pd.DataFrame()
    
    if fail:
        x = int(input('fail on which set? '))
        num_change = num_sets - x
    
        for num in range(x-1):
            df = df.append([[date, exercise,set_list[num],num_reps,weight]])
        
        for value in range(5):
            
            p = str(input('new set? y/n '))
            
            if p.lower() == 'y':
                num_reps=int(input('reps? '))
                weight=int(input('weight? '))
                df = df.append([[date, exercise, set_list[num+1+value],num_reps,weight]])
            
            else: break
        
        df.columns = ['date', 'exercise','set_num','num_reps','weight']    
        
        return df.reset_index().drop(['index'],axis=1)
    
    for number in range(num_sets):
        df = df.append([[date, exercise,set_list[number],num_reps,weight]])
    
    df.columns = ['date', 'exercise','set_num','num_reps','weight']

    try:
        if len(data) != 0:
            data = data.append(df)
            return data.reset_index().drop(['index'],axis=1)
    except TypeError:
        pass
    
    return df.reset_index().drop(['index'],axis=1)

In [101]:
make_table('b',6,50,150,fail=False,data=jjd,date='08-19-19')

        date exercise  set_num  num_reps  weight
0   08-14-19        b        1        10      23
1   08-14-19        b        2        10      23
2   08-14-19        b        3        10      23
3   08-14-19        b        4        10      23
4   08-14-19        b        5        10      23
5   08-19-19        b        1        50     150
6   08-19-19        b        2        50     150
7   08-19-19        b        3        50     150
8   08-19-19        b        4        50     150
9   08-19-19        b        5        50     150
10  08-19-19        b        6        50     150

In [100]:
#issue: this adds column names each time. Also adds extra newline on each line. Fix!
file = open('dfdf', 'a')
file.write(dfdf.to_csv(index=False))
file.close()